@page
@model webex.Pages_Exercise.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-white">Create</h1>

<h4 class="text-white">Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Exercise.Name" class="control-label"></label>
                <input asp-for="Exercise.Name" class="form-control" />
                <span asp-validation-for="Exercise.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Color" class="control-label"></label>
                <input asp-for="Exercise.Color" class="form-control form-control-color" type="color"/>
                <span asp-validation-for="Exercise.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Muscle Groups</label>
                <div class="bg-black multi-select">
                    @if(Model.MuscleGroups != null)
                    {
                        @foreach (var mg in Model.MuscleGroups){
                            <div style="color: @mg.Color">
                                <span>@mg.Name</span>
                                <input type="checkbox" style="accent-color: @mg.Color;" name="SelectedMuscleGroupIds" value="@mg.Id">
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
