@page
@model webex.Pages.LogoutModel

<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <h1>Logout</h1>
    <p>Are you sure you want to log out?</p>
    <form method="get">
        <button type="submit" class="submit">Logout</button>
    </form>
</body>
</html>