@page
@model webex.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-white">@ViewData["Title"]</h1>

<div class="text-white">
    <form method="post">
        <div>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" />
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div>
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" />
            <span asp-validation-for="Input.Password"></span>
        </div>
        <div>
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" />
            <span asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <button type="submit">Register</button>
    </form>
</div>
