:root {
  --primary: #EB1616; 
  --secondary:#f80d0d;
  --error: rgb(228, 41, 31);
  --accent: #C81313;
  --neutral: #6C7293;
  --base:  #191C24; 
  --black: black;
}

/* GLOBAL COLORS */

/* BACKGROUND */
.bg-body{
  background-color: var(--base) !important;
}

.bg-secondary{
  background-color: var(--secondary) !important;
}

.bg-error{
  background-color: var(--error);
}

.bg-primary{
  background-color: var(--primary);
}

/* TEXT */
.text-primary{
  color: var(--primary) !important;
}

.text-secondary{
  color: var(--secondary) !important;
}

.text-error{
  color: var(--error) !important;
}

.text-neutral{
  color: var(--neutral);
}

/* BUTTONS */
.btn-primary{
  background-color: var(--error);
  border: none;
}

.btn-primary:hover{
  background-color: var(--accent);
}

/* LINKS */
a{
  color: var(--primary);
  border: none;
}

a:hover{
  color: var(--accent);
}





/* FORMS */
.form-control{
  background-color: var(--black) !important;
  color: white;
  border: none;
  margin-bottom: 1em;
}

.form-control:focus{
  border-color: var(--primary);
  box-shadow: 0 0 0 2px var(--primary) inset;
  outline: 0 none;
  color: white;
}

.form-control-color {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

.control-label{
  color: var(--neutral);
  margin: 4px 0;
  font-size: 18px;
}





/* TABLE */
.table>thead>tr>th:first-child, 
.table>tbody>tr>td:first-child, 
.table>tbody>tr>td:last-child, 
.table>thead>tr>th:last-child{
  padding-left: 20px;
  padding-right: 20px;
}

.table{
  background-color: var(--black);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: max-content;
}

.table>tbody>tr{
  border-color: var(--neutral);
}


/*MULTI SELECT*/
.multi-select{
  margin-bottom: 1em;
  max-height: 130px;
  overflow: auto;
}

.multi-select::-webkit-scrollbar{
  width: 10px;
}

.multi-select::-webkit-scrollbar{
  background-color: black;
}

.multi-select::-webkit-scrollbar-thumb{
  background-color: red;
}

.multi-select>div{
  border-bottom: grey solid 1px;
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
}

.multi-select>div:last-child{
  border: none;
}

.multi-select>div>input{
  transform: scale(1.5);
}

/*Badge*/
.badge{
  border-radius: 20px;
  border: black solid 1px;
  padding: 5 25px;
}