@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center bg-body">
    <h1 class="display-4 text-primary">Welcome</h1>
    <a class="text-secondary" href="/Workouts/Create">Create your training plan here!</a>
</div>
