@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center bg-body">
    <h1 class="display-4 text-primary">Welcome</h1>
    <h5 class="text-secondary">Some secondary text to showcase some colors</h5>
</div>
